.btnNewContact {
    background-color: #1abc9cd8;
    border: 1px solid #f4f4f2;
    border-radius: 5px;
    height: 40px;
    color: #f4f4f2;
    padding: 5px 15px;
    font-size: 17px;
    font-family: monospace;
    transition: 0.3s;
  }
  
  .btnNewContact:hover {
      background-color: #1abc9c69;
      cursor: pointer;
  }